/* =========================
   RESET
========================= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* =========================
   TRANSITIONS
========================= */
body, header, nav, main {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* =========================
   VARIABLES
========================= */
:root{
    --primary-color: #F8F9FA;
    --secondary-color: #0A192F;
   /* --mobile-menu-bg: #0C1F3A;*/

}

.dark-theme {
    --primary-color: #0A192F;
    --secondary-color: #E0E0E0;
}

.projectsPage{
    background-color: #007BFF;
}
/* =========================
   BODY
========================= */
body{
    font-family: "Inter", system-ui, sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

/* Page active */
.projectsPage{
    background-color: #007BFF;
}


/* =========================
   MAIN
========================= */
main{
    width: 90%;
    margin: 2rem auto;
    position: relative;
}

/* =========================
   TITLE
========================= */
.title{
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}

/* =========================
   TEXT
========================= */
.text{
    line-height: 1.6;
    word-spacing: 0.2rem;
    letter-spacing: 0.03rem;
    margin: 1.25rem 3rem;
    text-align: center;
}
p{
    text-align: center;
}
/* ============================
   Card projects/screen details 
   By Lyes - 17/01-/2026
============================ */
.details {
    line-height: 2rem;
    background: rgba(10, 25, 47, 0.50);
          backdrop-filter: blur(14px);
         -webkit-backdrop-filter: blur(14px);
    border: 1px solid  rgba(255, 255, 255, 0.148);
    border-radius: 0.625rem;
    padding: 10px 20px;
    border-top: transparent;
}

/* =========================
   CONTAINER
========================= */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

/* =========================
   RESPONSIVE
========================= 
@media (max-width: 1024px){

    nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        background: rgba(10, 25, 47, 0.50);
          backdrop-filter: blur(14px);
         -webkit-backdrop-filter: blur(14px);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }

    nav.active{
        transform: translateX(0);
    }

    .nav-toggler{
      position: relative;
      top: 0;
      left: 0.3rem;
    }

    .bxs-sun{
        position: relative;
        height: 30px;
        margin-left: 3rem;
    }
}
    

@media (min-width: 1025px){
    .nav-toggler{
        display: none;
    }
}
*/