<div class="main-menu">
    <div class="menu-logo">
        <a class="logo" href="index.html">Portfolio.</a>
    </div>

    <nav id="navig">
        <a href="index.html" class="homePage">Home</a>
        <a href="projects.html" class="projectsPage">Projects</a>
        <a href="contact.html" class="contactPage">Contact</a>
    </nav>

    <img 
        src="/images/projects/sun-projects.png"
        class="bxs-sun"
        id="iconSun"
        alt="icon moon"
    >

    <button
        type="button"
        aria-label="button curtain navigation"
        class="nav-toggler"
        id="navButton"
    >
        <span class="line l1"></span>
        <span class="line l2"></span>
        <span class="line l3"></span>
    </button>
</div>
